.navbar .menujq ul li:not(.desplegable) a {
	padding-left: 2.5rem;

	&:before {
		display: none;
	}
}

.navbar .menujq ul li:has(a.active) ul {
	display: block;
}

/* .navbar .menujq .desplegable {
	border: 1px solid red;
} */

.menujq ul {
	list-style: none;
	width: 85%;
	margin: 0 auto;
	padding: 0;
}

.menujq a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #fff;
	background: #009cff;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}

.menujq ul li a:before {
	content: '\25CF\00A0 ';
	width: 28px;
	display: inline-block;
	vertical-align: top;
}

.menujq ul li.desplegable > a:before,
.menujq ul li ul li.desplegable > a:before {
	content: '\25BA\00A0';
}

.menujq ul li.desplegable.active > a:before,
.menujq ul li ul li.desplegable.active > a:before {
	content: '\25BC\00A0 ';
}

.menujq ul ul,
.menujq ul ul ul,
.menujq ul ul ul ul {
	display: none;
	width: 100%;
}

.menujq ul ul a {
	padding-left: 20px;
	background: #009dff87;
	text-transform: capitalize;
}

.menujq ul ul ul a {
	padding-left: 40px;
	background: #009dff1f;
	text-transform: capitalize;
	color: black;
}

.menujq ul ul ul ul a {
	padding-left: 40px;
	background: #009dff00;
	text-transform: capitalize;
	color: black;
}

.encima {
	position: absolute;
	top: -156px;
	left: 428px;
	height: 25px;
	width: 102px;
	z-index: 1;
}

.alfondo {
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: -1;
}
